<h1>NEW TASK</h1>

<!-- <form action="/tasks" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="title">Title: </label>
  <input type="text" name="task[title]" id="title">

  <label for="details">Details: </label>
  <input type="text" name="task[details]" id="details">

  <input type="submit">

</form> -->

<%= form_for(@task) do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control"%>

  <%= f.label :details %>
  <%= f.text_field :details, class: "form-control"%>

  <%= f.submit :"create a new task!", class: 'btn btn-primary'%>
<% end %>
